.App {
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  flex-grow: 1;
}
img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.boardRight {
  display: flex;
  flex-flow: column;
  min-width: 400px;
}

.border {
  border: solid 2px;
}

.Navbar {
  display: flex;
  flex-flow: row;
  min-height: 100px;
}

.Board {
  display: flex;
  min-height: 800px;
}

.Teacher {
  display: flex;
  flex-flow: column;
  text-align: center;
}

.Student {
  display: flex;
  flex-flow: column;
  text-align: center;
}

.Toolbar {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.boardLeft {
  min-width: 600px;
  display: flex;
  flex-flow: column;
}

.boardBottomRight {
  display: flex;
  flex-flow: row;
}

.boardTopRight {
  display: flex;
  justify-content: center;

  flex-flow: row;
}
